@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.btn {
  background-color: #469165;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  cursor: pointer;
}

.btn-white {
  background-color: #46916500;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  cursor: pointer;
  margin-left: 16px;
}

nav {
  padding: 16px 120px;
  width: 90%;
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav .menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}

nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

#banner {
  background-image: url('assets/hero-bg.png');
  height: 674px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 120px 134px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.top-text {
  background-color: white;
  border-radius: 25px;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  max-width: 229px;
  margin: auto;
}

.top-text .one {
  background-color: #4691651c;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-text .two {
  background-color: #46916542;
  border-radius: 8px;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-text .three {
  background-color: #469165;
  border-radius: 8px;
  width: 6px;
  height: 6px;
}

.banner-text .top-text p {
  color: #30b868;
  text-align: center;
  margin: auto;
  font-size: 16px;
}

.banner-text,
.banner-button {
  text-align: center;
  margin: 0px auto 32px;
}
button img {
  vertical-align: bottom;
  max-width: 20px;
  max-width: 20px;
}

.btn img {
  margin-left: 10px;
}
.btn-white img {
  margin-right: 10px;
}

.banner-text h1 {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 70px;
  margin: 16px 0;
}

.banner-text span {
  color: #30b868;
}

.banner-text p {
  color: white;
  font-size: 18px;
  line-height: 24px;
  max-width: 700px;
}

#card-section {
  padding: 0 120px;
  width: 90%;
  max-width: 1360px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

#card-section .text-section h1 {
  font-style: Bold;
  font-size: 48px;
  line-height: 58px;
  margin-top: 48px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

#card-section .text-section p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

#card-section .card-content {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

#card-section .card-content .card {
  padding: 24px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.063);
}

.card-content .card .card-img {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
}
.card .card-img img {
  width: 32px;
  height: 32px;
}

.card-content .card h4 {
  font-size: 22px;
  margin-bottom: 16px;
  margin-top: 16px;
}
.card-content .card p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}

#knowledge {
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: auto;
  padding: 120px;
  gap: 60px;
}
#knowledge .knowledge-text span {
  color: #30b868;
  font-size: 16px;
  text-transform: uppercase;
}
#knowledge .knowledge-text h1 {
  font-style: Bold;
  font-size: 47px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 16px;
  margin-top: 16px;
}
#knowledge .knowledge-text p {
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  margin-bottom: 40px;
}

#knowledge .knowledge-text .task {
  margin-bottom: 16px;
}

#knowledge .knowledge-text .task h4 {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-left: 4px;
}

#early-access {
  padding: 0 120px 120px;
  text-align: center;
}

#early-access .early-access-section {
  background-color: #f7f6f2;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: 384px;
  border-radius: 12px;
}

.early-access-section .early-text h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
  text-transform: capitalize;
}
.early-access-section .early-text p {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
}
.early-access-section .early-button p {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin-top: 16px;
}

#footer-container {
  background-color: #001931;
  padding: 120px 120px 30px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

#footer-container .footer-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-area .social .social-icons {
  display: flex;
  gap: 14px;
}

.footer-area .social span {
  font-size: 20px;
  color: white;
}

.social-icons .icon {
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-top: 16px;
}

#footer-container .copyright {
  border-top: 1px solid #dddddd2d;
}

#footer-container .copyright p {
  text-align: center;
  color: #fafafa;
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
}
